{% extends 'base.html' %}

{% block head_title %} {{ block.super }}- {{ sezione.nome_sezione }} {% endblock head_title %}

{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

        {% for discussione in discussioni%}
            <p><a class="goTodiscusssione text-blue" href="{{ discussione.get_absolute_url }}">{{ discussione.titolo }}</a></p>
            <p class="text-blue">{{ discussione.autore_discusisone }}</p>
        {% endfor %}


    <script>
    //implementation for future
    $(document).ready(function () {
        var url= $(".goTodiscusssione:first").attr('href');
    window.location = url;
    });
    </script>
    <style>
        .text-blue {
            color: #17a2b8
        }
    </style>

{% endblock content %}