{%  extends 'base.html' %}
{%  load static %}
{%  load crispy_forms_tags%}


{% block content %}

<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form method="post">{%  csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-info" type="submit" value="Save">
            <a class="btn btn-info float-right" href="{%  url 'user_profile' username=request.user.username %}">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>







  
{% endblock content %}