{% extends 'base.html' %}

{% block head_title %} {{ block.super }} | {{ user }} {% endblock head_title %}

{% block content %}

<div id="login">
    
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <h4>{% if request.user == user %}I tuoi {% endif %} Annunci</h4>
                    <br>
                    <div class="inline-block">
                        {% for sezione in sezioni %}
                        <div onclick='location.href="{{ sezione.get_absolute_url}}"' style="margin-right:5%" id="login-box2"class="btn btn-outline-info">
                            <h2><strong>{{ sezione.nome_sezione }}</strong></h2>
                            <h6>{{sezione.indirizzo}} - {{sezione.citta}} - {{sezione.provincia}} </h6>
                    
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
<style>
    #login-box{
        width: 100%;
    }
    .inline-block{
        display: inline-flex;
    width: 100%;
    }
</style>
{% endblock content %}