{% extends 'base.html' %}

{% block head_title %} {{ block.super }} | {{ user }} {% endblock head_title %}

{% block content %}

    <h4>{% if request.user == user %}Il tuo {% endif %}Profilo Utente</h4>
    <h1>User: {{ user }}</h1>
    <br>
    {% for sezione in sezioni %}
    <div id="login">
                <h6>{{sezione.indirizzo}} - {{sezione.citta}} - {{sezione.provincia}} </h6>
                <h2><a style="color: #17a2b8;"
                        href="{{ sezione.get_absolute_url}}"><strong>{{ sezione.nome_sezione }}</strong></a></h2>
    </div>
    {% endfor %}
<style>
     #login {
      margin-top: 120px;
      max-width: 20%;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #9C9C9C;
      background-color: #EAEAEA;
    }
</style>
{% endblock content %}