{% extends 'base.html' %}

{% block head_title %} {{ block.super }} | {{ user }} {% endblock head_title %}

{% block content %}

    <h4>{% if request.user == user %}Il tuo {% endif %}Profilo Utente</h4>
    <h1>User: {{ user }}</h1>
    {% for sezione in sezioni %}
    <div class="courses-container">
        <div class="course">
            <div class="course-preview">
                <img src="{{ sezione.logo_sezione.url }}" style="width: 100%; height: 16rem;" alt="logo della sezione">
            </div>
            <div class="course-info">
                <div class="progress-container">
                    <div class="progress"></div>
                    <span class="progress-text">
                        6/9 Challenges
                    </span>
                </div>
                <h6>{{sezione.indirizzo}} - {{sezione.citta}} - {{sezione.provincia}} </h6>
                <h2><a style="color: #17a2b8;"
                        href="{{ sezione.get_absolute_url}}"><strong>{{ sezione.nome_sezione }}</strong></a></h2>
                <h3>{{ sezione.descrizione }}</h3>
                <button onclick="location.href='{{ sezione.get_absolute_url}}'" class="btn1">Apri</button>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}

{% endblock content %}